{% load static i18n tailwind_tags django_htmx %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <base href="/">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="{% block viewport %}width=device-width, initial-scale=1.0, shrink-to-fit=no{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock  %}">
    <meta name="author" content="">
    <meta name="keyword" content="{% block keywords %}{% endblock %}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    {% tailwind_css %}
</head>

<body>
    {% block page %}{% endblock %}

    <script src="{% static 'js/htmx.min.js' %}" defer></script>
</body>

</html>
